<div class="container-race">
  <a routerLink="/humain">Humain</a>
  <a routerLink="/elfe">Elfe</a>
  <a routerLink="/nain">Nain</a>
  <a routerLink="/taido">Taïdo</a>
  <a routerLink="/haganos">Haganos</a>
  <a routerLink="/gnome">Gnome</a>
  <a routerLink="/orc">Orc</a>
  <a routerLink="/lycan">Lycan</a>
  <a routerLink="/fulva">Fulva</a>
  <a routerLink="/reptilien">Reptilien</a>
  <a routerLink="/sogorn">Sogorn</a>
  <a routerLink="/zinngo">Zinngo</a>
  <a routerLink="/sang-mele">Sang-Mêlé</a>
</div>

<h2>Race : {{ title }}</h2>

<div class="container-image-description">
  <div class="container-image">
    <h3>Image {{ title }}</h3>
  </div>

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
</div>
