<h1>Les Vestiges d'Euphilia</h1>
<div class="container-logo">
  <a routerLink="/"><img class="logo-euphilia" src="../../assets/img/logoEuphilia.png" alt="Logo d'Euphilia"></a>
</div>

<nav>
  <ul class="nav-menu">
      <li class="deroulant"><a class ="print" href="#">Présentation &ensp;</a>
          <ul class="sous">
              <li><a routerLink="/company">Entreprise</a></li>
              <li><a routerLink="/vestiges-euphilia">Les vestiges d'Euphilia</a></li>
              <li><a routerLink="/discord">Le discord</a></li>
              <li><a routerLink="/faq">FAQ</a></li>
          </ul>
      </li>
      <li class="deroulant"><a class ="print" href="#">Univers &ensp;</a>
          <ul class="sous">
              <li><a href="#">Histoire</a></li>
              <li><a href="#">Races</a></li>
              <li><a href="#">Monde</a></li>
              <li><a href="#">Évènements</a></li>
              <li><a href="#">Personnages</a></li>
          </ul>
      </li>
      <li><a href="#">Magasin</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
