<h1>Les Vestiges d'Euphilia</h1>
<div class="container-logo">
  <img class="logo-euphilia" src="../../assets/img/logoEuphilia.png" alt="Logo d'Euphilia">
</div>

<nav>
  <ul class="nav-menu">
      <li class="deroulant"><a class ="print" href="#">Présentation &ensp;</a>
          <ul class="sous">
              <li><a class="hide" href="#">Entreprise</a></li>
              <li><a class="hide" href="#">Les vestiges d'Euphilia</a></li>
              <li><a class="hide" href="#">Le discord</a></li>
          </ul>
      </li>
      <li class="deroulant"><a class ="print" href="#">Univers &ensp;</a>
          <ul class="sous">
              <li><a class="hide" href="#">Histoire</a></li>
              <li><a class="hide" href="#">Race</a></li>
              <li><a class="hide" href="#">Monde</a></li>
              <li><a class="hide" href="#">Evenements</a></li>
              <li><a class="hide" href="#">Personnages</a></li>
          </ul>
      </li>
      <li><a href="#">Magasin</a></li>
  </ul>
</nav>

<!-- <li ngbDropdown class="nav-item">
  <a href (click)="false" class="nav-link" ngbDropdownToggle>Présentation</a>
  <div ngbDropdownMenu>
    <button ngbDropdownItem>Entreprise</button>
    <button ngbDropdownItem>Les vestiges d'Euphilia</button>
    <button ngbDropdownItem>Le discord</button>

</li>

<li ngbDropdown class="nav-item">
  <a href (click)="false" class="nav-link" ngbDropdownToggle>Dropdown</a>
  <div ngbDropdownMenu>
    <button ngbDropdownItem>Action</button>
    <button ngbDropdownItem>Another action</button>
    <button ngbDropdownItem>Something else here</button>
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem>Separated link</button>
  </div>
</li> -->
