/* MOBILE */
@font-face {
  src: url("../../assets/font/Cardinal.ttf");
  font-family: Euphilia-font;
}

h1 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 2.6em;
  font-family: Euphilia-font;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.logo-euphilia {
  height: 13rem;
  width: 14.5rem;
}

.container-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

nav{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: sticky;
  top: 0px;
}

.nav-menu{
  display: flex;
}

nav ul li{
  flex: 1 1 auto;
  text-align: center;
  position: relative;
  list-style-type: none;
}

.nav-menu {
  padding-left: 0;
  background-color: #CAB07F;
}

nav a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover{
  color: brown;
  border-bottom: 2px solid maroon;
}

.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
  padding-left: 0;
}
nav > ul li:hover .sous{
  display: block;
  flex-flow: column wrap;

}

.sous li{
  flex: 1 1 auto;
  text-align: left;
}
.sous a{
  padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: black;
}
.deroulant > a::after{
  content:" ▼";
  font-size: 12px;
}


/* TAB */

@media screen and (min-width: 900px) {
  h1 {
    font-size: 3.5em;
  }

  .logo-euphilia {
    height: 14rem;
    width: 15.5rem;
    margin-bottom: 0.5em;
  }

  /* nav {
    font-size: 1.9em;
    padding: 0.2em 0 0.2em 0;
  } */
}

/* DESKTOP */

@media screen and (min-width: 1100px) {
  h1 {
    font-size: 4.5em;
  }

  .logo-euphilia {
    height: 18rem;
    width: 19.5rem;
    margin-bottom: 0.5em;
  }
}
