<h2>Les races</h2>
<div class="container-race">
  <a (click)="onClick('humain')">Humain</a>
  <a (click)="onClick('elfe')">Elfe</a>
  <a (click)="onClick('nain')">Nain</a>
  <a (click)="onClick('taido')">Taïdo</a>
  <a (click)="onClick('haganos')">Haganos</a>
  <a (click)="onClick('gnome')">Gnome</a>
  <a (click)="onClick('orc')">Orc</a>
  <a (click)="onClick('lycan')">Lycan</a>
  <a (click)="onClick('fulva')">Fulva</a>
  <a (click)="onClick('reptilien')">Reptilien</a>
  <a (click)="onClick('sogorn')">Sogorn</a>
  <a (click)="onClick('zinngo')">Zinngo</a>
  <a (click)="onClick('sang-mele')">Sang-Mêlé</a>
</div>

<h2 id="humain" class="race-name">Race : Humain</h2>

<div class="container-image-description">
  <div class="container-image">
    <h3>Image Humain</h3>
  </div>

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
</div>

<h2 id="elfe" class="race-name">Race : Elfe</h2>

<div class="container-image-description">

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
  <div class="container-image">
    <h3>Image Elfe</h3>
  </div>
</div>

<h2 id="nain" class="race-name">Race : Nain</h2>

<div class="container-image-description">
  <div class="container-image">
    <h3>Image Nain</h3>
  </div>

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
</div>

<h2 id="taido" class="race-name">Race : Taïdo</h2>

<div class="container-image-description">

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
  <div class="container-image">
    <h3>Image Taïdo</h3>
  </div>
</div>

<h2 id="haganos" class="race-name">Race : Haganos</h2>

<div class="container-image-description">
  <div class="container-image">
    <h3>Image Haganos</h3>
  </div>

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
</div>

<h2 id ="gnome" class="race-name">Race : Gnome</h2>

<div class="container-image-description">

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
  <div class="container-image">
    <h3>Image Gnome</h3>
  </div>
</div>

<h2 id="orc" class="race-name">Race : Orc</h2>

<div class="container-image-description">
  <div class="container-image">
    <h3>Image Orc</h3>
  </div>

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
</div>

<h2 id="lycan" class="race-name">Race : Lycan</h2>

<div class="container-image-description">

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
  <div class="container-image">
    <h3>Image Elfe</h3>
  </div>
</div>

<h2 id="fulva" class="race-name">Race : Fulva</h2>

<div class="container-image-description">
  <div class="container-image">
    <h3>Image Fulva</h3>
  </div>

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
</div>

<h2 id="reptilien" class="race-name">Race : Reptilien</h2>

<div class="container-image-description">

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
  <div class="container-image">
    <h3>Image Reptilien</h3>
  </div>
</div>

<h2 id="sogorn" class="race-name">Race : Sorgorn</h2>

<div class="container-image-description">
  <div class="container-image">
    <h3>Image Sogorn</h3>
  </div>

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
</div>

<h2 id="zinngo" class="race-name">Race : Zinngo</h2>

<div class="container-image-description">

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
  <div class="container-image">
    <h3>Image Zinngo</h3>
  </div>
</div>

<h2 id="sang-mele" class="race-name">Race : Sang-Mêlé</h2>

<div class="container-image-description">
  <div class="container-image">
    <h3>Image Sang-Mêlé</h3>
  </div>

  <div class="container-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium, incidunt aliquid perferendis
      maiores id pariatur mollitia?
      Repudiandae eligendi doloribus excepturi numquam ad culpa inventore quae itaque maiores totam voluptas atque nam
      facere deserunt,
      explicabo nostrum quaerat enim distinctio officia eveniet illum doloremque, reprehenderit soluta.</p>
  </div>
</div>
