<h2>Les races</h2>
<div class="container-race">
  <a routerLink="/humain">Humain</a>
  <a routerLink="/elfe">Elfe</a>
  <a routerLink="/nain">Nain</a>
  <a routerLink="/taido">Taïdo</a>
  <a routerLink="/haganos">Haganos</a>
  <a routerLink="/gnome">Gnome</a>
  <a routerLink="/orc">Orc</a>
  <a routerLink="/lycan">Lycan</a>
  <a routerLink="/fulva">Fulva</a>
  <a routerLink="/reptilien">Reptilien</a>
  <a routerLink="/sogorn">Sogorn</a>
  <a routerLink="/zinngo">Zinngo</a>
  <a routerLink="/sang-mele">Sang-Mêlé</a>
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facilis unde ad incidunt.
  Quis cumque amet minima quam aliquid sed porro maxime minus distinctio aperiam ut praesentium blanditiis pariatur,
  omnis laboriosam, asperiores, voluptate quibusdam assumenda!</p>
