<div class="container">
  <a href="#"><img src="../../../assets/img/logo-discord.svg" alt="logo-discord"></a>
</div>

<h2>La vie sur le discord</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Impedit ut odit officiis unde officia mollitia, porro perferendis voluptatum corporis a.</p>

<h2>Comment nous rejoindre ?</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  ed tempore consequuntur laboriosam ex illum recusandae nisi porro perspiciatis libero? Quam?</p>

<h2>Les attentes</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias quis tempora dolore. Voluptatum, assumenda nobis.
</p>
